.available-sit {
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

.unavailable-sit {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    color: gray;
    cursor: not-allowed;
}